<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
    <head>
        <!-- Head content - Meta tags, title, CSS references -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            var selectedValues = {};
            const tempDocs = $('[id*=DOC]');
            tempDocs.each((id, res) => {
                selectedValues[res.id] = true;
                var dropdown = document.getElementById("selectedCompanyTest");
                var preOption = document.createElement('option');
                preOption.value = res.id;
                preOption.text = res.id;
                dropdown.appendChild(preOption);
            })

            
            $('#selectedCompanyTest').change(function(){
                $('#selectedCompanyTest option:selected').each(function(){
                    console.log(selectedValues);
                    var selectedText = $(this).text();
                    var selectedValue = $(this).val();
                    if (!selectedValues[selectedText]  && selectedValue != "") {
                        selectedValues[selectedText] = true;
                        $('#selectedOptionsContainer').append('<div class="badge badge-info mr-2" id="' +selectedText+'">' + selectedText + '</div>');
                    }
                });
            });


            $('#selectedCompany').change(function(){
                $('#selectedCompany option:selected').each(function(){
                    var selectedValue = $(this).val();
                    var selectedText = $(this).text();
                    

                    $.ajax({
                        type: "get",
                        url: "docs/" + selectedValue,
                        success: function (res) {
                            var dropdown = document.getElementById("selectedCompanyTest");

                            var preOption = document.createElement('option');
                            preOption.value = '';
                            preOption.text = 'Select an Document';
                            preOption.style = 'color: gray; cursor: default; pointer-events: none;';
                            
                            dropdown.innerHTML = '';
                            dropdown.appendChild(preOption);
                            res.documents.forEach((option) => {
                                var newOption = document.createElement('option');
                                newOption.value = option.documentId;
                                newOption.text = option.documentId;
                                dropdown.appendChild(newOption);
                            })

                            $('#selectedOptionsContainer').html('')

                        },
                        error: (err) => {
                            console.log(err)
                        }
                    });
                });
            });

            $('#selectedOptionsContainer').on('click', '.badge', function(e){
                var deselectedValue = $(this).attr('data-value');
                var dId = $(this).attr("id")
                selectedValues[dId] = false;
                $('#selectedCompanyTest option[value="' + deselectedValue + '"]').prop('selected', false);
                $(this).remove();
            });
        });

        function updateReceivedDocument() {
            var temp =  $('#selectedOptionsContainer').children()
            
            const selectedDocId = []
            
            temp.each((idx, data) => {
                selectedDocId.push(data.id)
            })

            var selectCompany = document.getElementById("selectedCompany");
            var selectedCompany = selectCompany.value;
            
            const dataToSend = {
                receivedDocumentId : $("#CRid").val(),
                documentsId : selectedDocId,
                companyTo : selectedCompany,
                receivedBy : $("#receivedBy").val(),
                refDescription : $("#des").val()
            }

            $.ajax({
                type: "post",
                url: "update",
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                success: function () {
                    window.location.href = "/received-document/";
                },
                error: (err) => {
                    console.log(err)
                }
            });
        }
            
    </script>
    </head>
    <section layout:fragment="header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Received Document</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Edit</li>
                        <li class="breadcrumb-item active">Delete</li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card p-5">
                        <div class="pb-3">
                            <h2 class="card-title fs-2 font-weight-bold" >
                                Received Document Add
                            </h2>
                        </div>
                        <div class="">
                            <div>
                                <form id="addMasterCompany">
                                    <div class="d-flex">
                                        <div class="w-50">
                                            <div class="d-flex flex-column flex">
                                                <div class="">
                                                    <label for="companyId">Received Document ID</label> 
                                                    <input type="text" class="form-control myInput w-25" id="CRid" readonly="readonly" th:value="${data.receivedDocumentId}"/>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <label>Company To</label> 
                                                    <select id="selectedCompany" th:field="${data.company.companyId}" class="w-25">
                                                        <option th:each="company : ${companies}" th:selected="${data.company.companyId eq company.companyId}" th:value="${company.companyId}" th:text="${company.companyName}"></option>
                                                    </select>
                                                </div>
                                                <div class="">
                                                    <label for="cp">Received By</label> 
                                                    <input th:value="${data.receivedBy}" type="text" class="form-control w-50" placeholder="Insert Ref Description" id="receivedBy"/>
                                                </div>
                                                <div class="">
                                                    <label for="cp">Ref Description</label> 
                                                    <textarea th:text="${data.refDescription}" type="text" class="form-control w-50" placeholder="Insert Ref Description" id="des"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-50">
                                            <div class="container mt-4">
                                                <h3>Select Options</h3>
                                                <select id="selectedCompanyTest" class="w-25">
                                                    <option th:each="doc:${allDocs}" th:text="${doc.documentId}"></option>
                                                </select>
                                        
                                                <div class="mt-3">
                                                    <h4>Selected Options</h4>
                                                    <div id="selectedOptionsContainer">
                                                        <div th:each="doc:${docs}" th:id="${doc.documentId}" th:value="${doc.documentId}" th:text="${doc.documentId}" class="badge badge-info mr-2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </form>
                                <div class="">
                                    <div class="box-footer d-flex flex-row-reverse">
                                      <div class="pl-3">
                                        <button onclick="updateReceivedDocument()" class="btn bg-black pl-2">Save</button>
                                      </div>
                                        <a href="/received-document/" type="button"
                                            class="btn bg-gray">Cancel</a>	
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
    </section>
    <th:block layout:fragment="script">
    </th:block>
    </body>
</html>