<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
    <head>
        <!-- Head content - Meta tags, title, CSS references -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function editCompany() {
            const dataToSend = {
                companyId: $("#Cid").val(),
                companyName: $("#Cname").val(),
                companyAddress: $("#Caddress").val(),
                contactName: $("#Coname").val(),
                contactNumber: $("#Conum").val()
            };
            $.ajax({
            type: "post",
            url: "/company/edit-company",
            data: JSON.stringify(dataToSend),
            contentType: 'application/json',
            success: function () {
                window.location.href = "/company/";
            },
            error: (err) => {
                console.log(err)
            }
            });
        }
            
    </script>
    </head>
    <section layout:fragment="header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Master Company</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Edit</li>
                        <li class="breadcrumb-item active">Delete</li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <section layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card p-5">
                        <div class="pb-3">
                            <h2 class="card-title fs-2 font-weight-bold" >
                                Master Company Edit
                            </h2>
                        </div>
                        <div class="">
                            <div>
                                <form id="addMasterCompany">
                                    <div class="d-flex flex-column flex">
                                        <div class="">
                                            <label for="companyId">Company ID</label> 
                                            <input type="text" class="form-control myInput w-25" id="Cid" readonly="readonly" th:value="${company.companyId}"/>
                                        </div>
                                        <div class="">
                                            <label for="cp">Company Name</label> 
                                            <input type="text" class="form-control w-25" placeholder="Insert company name here..." th:value="${company.companyName}" id="Cname"/>
                                        </div>
                                        <div class="">
                                            <label for="emailRef">Company Address</label> 
                                            <input type="text" id="Caddress" th:value="${company.companyAddress}" placeholder="Insert company adress here..." class="w-50 form-control myInput" ></input>
                                        </div>
                                        <div class="">
                                            <label for="emailRef">Contact Name</label> 
                                            <input type="text" id="Coname" th:value="${company.contactName}" placeholder="Insert contact name here..." class="w-25 form-control myInput" ></input>
                                      </div>
                                      <div class="">
                                            <label for="emailRef">Contact Number</label> 
                                            <input type="text" id="Conum" th:value="${company.contactName}" placeholder="Insert contact number here..." class="w-25 form-control myInput" ></input>
                                    </div>
                                    </div>
                                    
                                </form>
                                <div class="">
                                    <div class="box-footer d-flex flex-row-reverse">
                                      <div class="pl-3">
                                        <button onclick="editCompany()" class="btn bg-black pl-2">Save</button>
                                      </div>
                                        <a href="/company/" type="button"
                                            class="btn bg-gray">Cancel</a>	
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
    </section>
    <th:block layout:fragment="script">
    </th:block>
    </body>
</html>