<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
  <body>
    <section layout:fragment="header">
      <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
                  <h1 class="m-0 text-dark">Beneficiary Master</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Setup</a></li>
                      <li class="breadcrumb-item active">Beneficiary</li>
                  </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    
    <section layout:fragment="content">
      <div class="container-fluid">
      <div class="row">				
            <div class="col-md-12">
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-add"></i>
                    Beneficiary Add
                  </h3>
                </div>
                <div class="card-body">
                  <div>
                  <form id="formAddBeneficiary">
                      <div class="col-12 col-md-12 row">
                        <div class="col-12 col-md-6">
                <label for="beneficiaryCode">Beneficiary Code</label> 
                <input type="text" class="form-control myInput" id="beneficiaryCode" readonly="readonly"/>
              </div>
              <div class="col-12 col-md-6">
                <label for="beneficiaryCode">Beneficiary Name</label> 
                <input type="text" class="form-control myInput" id="beneficiaryName"/>
              </div>
              <div class="col-12 col-md-6">
                <label for="bankAddress">Beneficiary Address</label> 
                <input type="text" class="form-control myInput" id="bankAddress"/>
              </div>
              <div class="col-12 col-md-6">
                <label for="emailRef">Email Ref</label> 
                <textarea cols="4" id="emailReff" class="form-control myInput" ></textarea>
              </div>
              
                      </div>
                      <div class="col-12 col-md-6"><span>&nbsp;</span></div>
                      
                      <div class="col-12 col-sm-12">
              <div class="card card-success card-tabs">
                <div class="card-header p-0 pt-1">
                  <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="pt-2 px-3"><h3 class="card-title">Bank Account</h3></li>
                    <li class="nav-item">
                      <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">List Bank</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content" id="custom-tabs-two-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#formBank">Add Bank</button>
                      <!-- <p th:replace="/paymentvoucher/invoicedetail"/>-->		
                      <div class="col-12 col-md-6"><span>&nbsp;</span></div>
                        <table id="tblBankDetail" class="mb-0 table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Bank Name</th>
                                                        <th>Bank Account Name</th>
                                                        <th>Bank Account No</th>
                                                        <th>Swift Code</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                              </table>
                    </div>
                    
                  </div>
                </div>			
                        </div>
                      </div>	
                      <div class="col-md-6 col-12">
              <div class="box-footer">
                <button type="button" id="saveBeneficiary" class="btn btn-primary">Save</button>
                <a href="./cancelbeneficiary" type="button"
                  class="btn btn-primary">Cancel</a>	
              </div>
            </div>
                  </form>
                  
                  <div class="modal fade" id="formBank" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg"> <!--  modal-dialog-centered -->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Bank Account</h4>
                </div>
                <div class="modal-body">
                  <div class="box col-12 col-md-12">
                      <div class="my-wrapper" id="my-wrapper">
                          <div class="box my-wrapper--inner">
                              <div class="margin wrapper-content">
                                  <div class="content--center padding-content--left-right">
                                      <div class="wrapper--bg">
                                          <div th:if="${errorMessage}" class="alert alert-danger alert-block fade in">
                                              <button data-dismiss="alert" class="close close-sm" type="button">
                                                  <i class="icon-remove"></i>
                                              </button>
                                          </div>
                                          <div class="jumbotron filterSearch">
                                              <!-- <form> -->
                                                <div class="margin row">
                                                    <div class="form-group blu-margin col-12 col-md-6">
                                        <label for="bankName">Bank Name</label>
                                    <input type="text" id="bankName" class="form-control myInput"/>
                                  </div>
                                  <div class="form-group blu-margin col-12 col-md-6">
                                              <label for="invoiceNo">Account Name</label>	
                                              <input type="text" id="bankAccountName" class="form-control"/>
                                  </div>
                                  
                                  <div class="form-group blu-margin col-12 col-md-6">
                                    <label for="invoiceNo">Account No</label>	
                                              <input type="text" id="bankAccountNo" class="form-control"/>
                                  </div>
                                  <div class="form-group blu-margin col-12 col-md-6">
                                    <label for="invoiceNo">Swift Code</label>	
                                              <input type="text" id="bankSwiftCode" class="form-control"/>
                                  </div>
                                  <div class="form-group blu-margin col-12 col-md-8"><span>&nbsp;</span></div>
                                                </div>
                                              <!-- </form> -->
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer justify-content-between">
                  <button type="button" id="btnAddRow" class="btn btn-warning float-right" data-dismiss="modal"><i class="fa fa-plus"></i> Add Bank</button>
                </div>
                </div>
              </div>
            </div>
          </div>
          
                  
                  </div>
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.col -->
          </div>
      
            
      </div>
    </section>
  </body>
</html>